body {
    /* background: url('img/light_jelly.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
background-color: #040123;
    max-height: 100vh;
}

.nav {
    height: 100vh;
    background-color: #291732;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    clip-path: polygon(89% 0, 100% 2%, 100% 100%, 0 100%, 0 0);
}

.nav .nav-elements {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin: auto;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    transition: .7s;
}

.nav a:hover,
.menu-icon:hover + #nav a {
    transition: .7s;
    text-shadow:
    0 0 2px #00ffff,
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 70px #00ffff,
    0 0 80px #00ffff,
    0 0 90px #00ffff,
    0 0 120px #00ffff,
    0 0 150px #00ffff;
}

a img {
    display: flex;
    justify-content: flex;
    justify-items: center;
}

.menu-icon {
    margin: auto;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.version {
    color: white;
    margin: auto;
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
}