body {
    /* background: url('img/light_jelly.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: rgb(82, 10, 10);
    max-height: 100vh;
    align-items: center;
}

.nav-container {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav {
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    padding-top : 1em;
    margin: 0px 10px;
    /* border-radius: 24px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    clip-path: polygon(82% 0, 100% 4%, 100% 50%, 100% 96%, 82% 100%, 0 100%, 0 0);   
    justify-content: space-evenly;
    transform: translateX(-100%);
    transition: .3s;

}

.nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80vh;
    height: 100%;
    background: url('./assets/svgs/band.svg') no-repeat center center fixed;
    z-index: 1;
    transform: translateX(-100%);
    transform: rotate(90deg);
    transition: .3s;
}

.nav:hover {
    transform: translateX(0%);
    transition: .3s;
}

.nav .nav-elements {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin: auto;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    transition: .7s;
}

.nav a:hover,
.menu-icon:hover+#nav a {
    transition: .7s;
    text-shadow:
        0 0 2px #000000,
        0 0 5px #000000,
        0 0 10px #000000,
        0 0 70px #000000,
        0 0 80px #000000,
        0 0 90px #000000,
        0 0 120px #000000,
        0 0 150px #000000;
}

a img {
    display: flex;
    justify-content: flex;
    justify-items: center;
}

.menu-icon {
    margin: auto;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.version {
    color: black;
    margin: auto;
    text-align: center;
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
}